body {
  background-color: white;
}

hr {
  border-style: dotted none none;
  border-width: thick;
  border-color: grey;
  width: 10%;
  height: 2px;
}

p {
  color: black;
}

table {
  color: black;
}

h1 {
  color: black;
}

a:link {
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  color: black
}

h2 {
  color: black;
}

.boring {
  font-size: 36px;
  font-weight: bold;
}

#Name {
  font-size: 45px;
  font-weight: bold;

}